<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: helvetica;
      }
      main {
        display: flex;
        flex-wrap: wrap;
      }
      .block {
        border: 1px solid #0003;
        padding: 36px 24px 24px 24px;
        margin: 24px;
        box-shadow: 0 2px 4px 2px rgb(0 0 0 / 10%);
        position: relative;
        display: flex;
        flex-basis: 600px;
        justify-content: space-between;
        column-gap: 12px;
        flex-grow: 1;
      }
      .full-width {
        flex-basis: 100%;
      }
      .lable {
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 12px;
        transform: translateY(-50%);
        background: white;
        display: inline-block;
        padding: 0 12px;
      }

      .value {
        font-size: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 12px;
        transform: translateY(50%);
        background: white;
        display: inline-block;
        padding: 0 12px;
      }

      .cards {
        display: flex;
        gap: 12px;
      }
      .card {
        width: 100px;
      }

      .card img {
        width: 100%;
      }

      .chips {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-content: flex-start;
        justify-content: center;
      }
      .chip {
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 0.8rem;
        display: flex;
        justify-items: center;
        align-items: center;
      }
      .chip > * {
        margin: auto;
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-content: flex-start;
        justify-content: flex-end;
      }
      .action {
        border: 2px solid #0007;
        background: #0002;
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 0.8rem;
        white-space: nowrap;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <article class="block full-width">
        <h2 class="lable">Table</h2>
        <div class="cards">
          <div class="card"><img src="/cards/2D.png" /></div>
          <div class="card"><img src="/cards/3S.png" /></div>
          <div class="card"><img src="/cards/3H.png" /></div>
        </div>
        <div class="value">100</div>
      </article>
      <article class="block">
        <h2 class="lable">Kriszta</h2>
        <div class="cards">
          <div class="card"><img src="/cards/AC.png" /></div>
          <div class="card"><img src="/cards/AS.png" /></div>
        </div>
        <div class="chips">
          <div class="chip"><div>1</div></div>
          <div class="chip"><div>3</div></div>
          <div class="chip"><div>5</div></div>
          <div class="chip"><div>10</div></div>
          <div class="chip"><div>100</div></div>
        </div>
        <div class="actions">
          <div class="action">Raised: 10</div>
          <div class="action">Call: 5</div>
          <div class="action">Raise: 3</div>
          <div class="action">Raise: 3</div>
          <div class="action">Fold</div>
        </div>
        <div class="value">100</div>
      </article>
      <article class="block">
        <h2 class="lable">Rob</h2>
        <div class="cards">
          <div class="card"><img src="/cards/7D.png" /></div>
          <div class="card"><img src="/cards/7H.png" /></div>
        </div>
        <div class="chips">
          <div class="chip"><div>1</div></div>
          <div class="chip"><div>3</div></div>
          <div class="chip"><div>5</div></div>
          <div class="chip"><div>10</div></div>
          <div class="chip"><div>100</div></div>
        </div>
        <div class="actions">
          <div class="action">Raised: 10</div>
          <div class="action">Call: 5</div>
          <div class="action">Raise: 3</div>
          <div class="action">Raise: 3</div>
          <div class="action">Fold</div>
        </div>
        <div class="value">100</div>
      </article>
    </main>
  </body>
</html>
